#clock-container-div
{
    width: 100%;
    min-height: 30px;
    margin: 0;
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    line-height: 30px;
    padding: 10px;
}
#clock {
    font-size: 28px;
}